// Naming that matches FIGMA desgins
$theme-1: #7C5DFA;
$theme-2: #9277FF;
$theme-3: #1E2139;
$theme-4: #252945;
$theme-5: #DFE3FA;
$theme-6: #888EB0;
$theme-7: #7E88C3;
$theme-8: #0C0E16;
$theme-9: #EC5757;
$theme-10: #FF9797;
$theme-11: #F8F8FB;
$theme-12: #141625;